---
title: IEEE @ UOIT
layout: default
---

<section class="box special">
	<header class="major">
		<h2>IEEE Student Branch at UOIT </h2>
		<div class="justify">
			<p>The <strong>Institute of Electrical and Electronic Engineers</strong> is the world’s largest professional association advancing innovation and technological excellence for the benefit of humanity. IEEE and its members inspire a global community to innovate for a better tomorrow through its highly-cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing and technology information around the globe. 
			<br/>
			There are more than 423,000 IEEE members in more than 160 countries. The IEEE publishes a third of the world’s technical literature in electrical engineering, computer science and electronics and is a leading developer of international standards that underpin many of today's telecommunications, information technology and power generation products and services.
			</p>

			<p>
			<strong>IEEE Student Branch at UOIT</strong> is a student run chapter which operates as a technical club at the University. 
			</br>
			IEEE Student Branch at UOIT's mission is to promote electrical engineer related education through extracircular activities and events. We also strive to build strong connections with professors and industry professionals in order to provide career and networking opportunities. Moreover, we actively volunteer at the university and in the community for both educational related projects and humanitarian initiatives. 
			<br/>
			Despite the name, IEEE is open to all dicisciplines, not just electrical engineers. The best way to get involved is by joining our mailing list and by following us on Facebook.
			</p>
		</div>
	</header>
	<span class="image featured"><img src="{{ site.baseurl }}/assets/images/pic01.jpg" alt="" /></span>
</section>

<div class="row">
{% for event in site.data.featured %}
	{% assign evid = '/' | append: event.name %}
	{% assign post = site.posts | where:"id",evid %}
	{% if event.title %}
		{% assign title = event.title %}
	{% else %}
		{% assign title = post[0].title %}
	{% endif %}
	{% if event.excerpt %}
		{% assign excerpt = event.excerpt %}
	{% else %}
		{% assign excerpt = post[0].excerpt %}
	{% endif %}
	{% if event.image %}
		{% assign image = event.image %}
	{% else %}
		{% assign image = post[0].image %}
	{% endif %}
	{% if event.url %}
		{% assign url = event.url %}
	{% else %}
		{% assign url = site.baseurl | append: post[0].url %}
	{% endif %}
	<div class="6u">
		<section class="box special">
			<span class="image featured"><img src="{{ site.baseurl }}/assets/images/{{ image }}" alt="" /></span>
			<h3>{{ title }}</h3>
			{{ excerpt }}
			<ul class="actions">
				<li><a href="{{ url }}" class="button alt">Learn More</a></li>
			</ul>
		</section>
	</div>
{% endfor %}
</div>
