<!-- Header -->
	<header id="header" class="alt">
		<img class="logo" src="{{ site.baseurl }}/assets/images/logo.svg" alt="">
		<nav id="nav">
			<ul>
				<li><a href="{{ site.baseurl }}/">Home</a></li>
				<li><a href="{{ site.baseurl }}/news">News</a></li>
				<li><a href="{{ site.baseurl }}/centre">McNaughton Centre</a></li>
				<li><a href="{{ site.baseurl }}/about">People</a></li>
				<li><a href="{{ site.baseurl }}/calendar">Calendar</a></li>
				<li>
					<a href="" class="icon fa-angle-down">Tutorials</a>
					<ul>
						<li><a href="#">Arduino Basics</a></li>
						<li><a href="#">Internet of Things (IOT)</a></li>
					</ul>
				</li>
				<li>
					<a href="" class="button">Join Us</a>
					<ul>
						<li><a href="#">Membership</a></li>
						<li><a href="{{ site.baseurl }}/hello">Newsletter</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
